<%= form_for(@server) do |f| %>
  <p>
    <%= f.label :issue %><br />
    <%= f.text_field :issue %>
  </p>

  <p>
    <%= f.label :programmer %><br />
    <%= f.text_field :programmer %>
  </p>
  
  <p>
    <%= f.label :tester %><br />
    <%= f.text_field :tester %>
   </p>

  <p>
    <%= f.label :test_started_at %><br />
    <%= f.text_field :test_started_at %>
  </p>
    
  <p>
    <%= f.label :status %><br />
    <%= f.select(:status, ['Available', 'Pending Testing', 'Testing', 'Approved']) %>
  </p>



  <%= f.submit %>
<% end %>

