<% @servers.each do |server| %>
  <%= link_to server.name, edit_server_path(server)  %> - <%= server.status %> - 
  <%= server.issue %> - <%= server.programmer %>  - <%= server.tester %> - 
  <%= format_datetime(server.test_started_at) %> - <%= format_datetime(server.approved_at)  %></p>
<% end %>
